In [44]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [45]:
df = sns.load_dataset('diamonds')
print(df.shape)
print(df.info())

(53940, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB
None

In [46]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [47]:
df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [49]:
# merge
cut_avg_price = df.groupby('cut')['price'].mean().reset_index()
cut_avg_price.columns=['cut', 'avg_price']
cut_avg_price.head()

C:\Users\YongTae\AppData\Local\Temp\ipykernel_972\871392411.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  cut_avg_price = df.groupby('cut')['price'].mean().reset_index()

         cut    avg_price
0      Ideal  3457.541970
1    Premium  4584.257704
2  Very Good  3981.759891
3       Good  3928.864452
4       Fair  4358.757764

In [50]:
df_merge = pd.merge(df, cut_avg_price, on='cut', how='left')
df_merge.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,avg_price
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,3457.541970
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,4584.257704
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,3928.864452
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,4584.257704
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,3928.864452

In [51]:
cut_color_avg_depth = df.groupby(['cut', 'color'])['depth'].mean().reset_index()
cut_color_avg_depth.columns=['cut', 'color', 'avg_depth']
cut_color_avg_depth.head()

C:\Users\YongTae\AppData\Local\Temp\ipykernel_972\2932288605.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  cut_color_avg_depth = df.groupby(['cut', 'color'])['depth'].mean().reset_index()

     cut color  avg_depth
0  Ideal     D  61.678370
1  Ideal     E  61.686677
2  Ideal     F  61.675562
3  Ideal     G  61.700164
4  Ideal     H  61.733194

In [53]:
df_merge2 = pd.merge(df_merge, cut_color_avg_depth, on=['cut', 'color'], how='left')
df_merge2.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,avg_price,avg_depth
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,3457.541970,61.686677
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,4584.257704,61.175909
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,3928.864452,62.203751
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,4584.257704,61.328641
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,3928.864452,62.395765

In [83]:
left = df.iloc[:, :7]
left

       carat        cut color clarity  depth  table  price
0       0.23      Ideal     E     SI2   61.5   55.0    326
1       0.21    Premium     E     SI1   59.8   61.0    326
2       0.23       Good     E     VS1   56.9   65.0    327
3       0.29    Premium     I     VS2   62.4   58.0    334
4       0.31       Good     J     SI2   63.3   58.0    335
...      ...        ...   ...     ...    ...    ...    ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757
53936   0.72       Good     D     SI1   63.1   55.0   2757
53937   0.70  Very Good     D     SI1   62.8   60.0   2757
53938   0.86    Premium     H     SI2   61.0   58.0   2757
53939   0.75      Ideal     D     SI2   62.2   55.0   2757

[53940 rows x 7 columns]

In [84]:
right = df.iloc[:, 7:]
right

          x     y     z
0      3.95  3.98  2.43
1      3.89  3.84  2.31
2      4.05  4.07  2.31
3      4.20  4.23  2.63
4      4.34  4.35  2.75
...     ...   ...   ...
53935  5.75  5.76  3.50
53936  5.69  5.75  3.61
53937  5.66  5.68  3.56
53938  6.15  6.12  3.74
53939  5.83  5.87  3.64

[53940 rows x 3 columns]

In [88]:
merged = pd.merge(left, right, left_index=True, right_index=True, how='left')
merged

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [74]:
# join
joined = left.join(right, how='inner')
joined

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [75]:
left1 = df.iloc[:10]
left1

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9   0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39

In [76]:
right1 = df.iloc[10:20]
right1

    carat        cut color clarity  depth  table  price     x     y     z
10   0.30       Good     J     SI1   64.0   55.0    339  4.25  4.28  2.73
11   0.23      Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12   0.22    Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
13   0.31      Ideal     J     SI2   62.2   54.0    344  4.35  4.37  2.71
14   0.20    Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
15   0.32    Premium     E      I1   60.9   58.0    345  4.38  4.42  2.68
16   0.30      Ideal     I     SI2   62.0   54.0    348  4.31  4.34  2.68
17   0.30       Good     J     SI1   63.4   54.0    351  4.23  4.29  2.70
18   0.30       Good     J     SI1   63.8   56.0    351  4.23  4.26  2.71
19   0.30  Very Good     J     SI1   62.7   59.0    351  4.21  4.27  2.66

In [82]:
joined2 = left1.join(right1, lsuffix='_left', rsuffix='_right', how='outer')
joined2

,carat_left,cut_left,color_left,clarity_left,depth_left,table_left,price_left,x_left,y_left,z_left,carat_right,cut_right,color_right,clarity_right,depth_right,table_right,price_right,x_right,y_right,z_right
0,0.23,Ideal,E,SI2,61.5,55.0,326.0,3.95,3.98,2.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.21,Premium,E,SI1,59.8,61.0,326.0,3.89,3.84,2.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.23,Good,E,VS1,56.9,65.0,327.0,4.05,4.07,2.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.29,Premium,I,VS2,62.4,58.0,334.0,4.20,4.23,2.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.31,Good,J,SI2,63.3,58.0,335.0,4.34,4.35,2.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.24,Very Good,J,VVS2,62.8,57.0,336.0,3.94,3.96,2.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0.24,Very Good,I,VVS1,62.3,57.0,336.0,3.95,3.98,2.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0.26,Very Good,H,SI1,61.9,55.0,337.0,4.07,4.11,2.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.22,Fair,E,VS2,65.1,61.0,337.0,3.87,3.78,2.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0.23,Very Good,H,VS1,59.4,61.0,338.0,4.00,4.05,2.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.30,Good,J,SI1,64.0,55.0,339.0,4.25,4.28,2.73
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.23,Ideal,J,VS1,62.8,56.0,340.0,3.93,3.90,2.46
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.22,Premium,F,SI1,60.4,61.0,342.0,3.88,3.84,2.33
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.31,Ideal,J,SI2,62.2,54.0,344.0,4.35,4.37,2.71
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.20,Premium,E,SI2,60.2,62.0,345.0,3.79,3.75,2.27
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.32,Premium,E,I1,60.9,58.0,345.0,4.38,4.42,2.68
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.30,Ideal,I,SI2,62.0,54.0,348.0,4.31,4.34,2.68
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.30,Good,J,SI1,63.4,54.0,351.0,4.23,4.29,2.70
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.30,Good,J,SI1,63.8,56.0,351.0,4.23,4.26,2.71
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.30,Very Good,J,SI1,62.7,59.0,351.0,4.21,4.27,2.66

In [89]:
joined3 = left1.join(right1, lsuffix='_left', rsuffix='_right', how='inner')
joined3

Empty DataFrame
Columns: [carat_left, cut_left, color_left, clarity_left, depth_left, table_left, price_left, x_left, y_left, z_left, carat_right, cut_right, color_right, clarity_right, depth_right, table_right, price_right, x_right, y_right, z_right]
Index: []

In [90]:
joined4 = left1.join(right1, lsuffix='_left', rsuffix='_right', how='left')
joined4

,carat_left,cut_left,color_left,clarity_left,depth_left,table_left,price_left,x_left,y_left,z_left,carat_right,cut_right,color_right,clarity_right,depth_right,table_right,price_right,x_right,y_right,z_right
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0.23,Very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
joined5 = left1.join(right1, lsuffix='_left', rsuffix='_right', how='right')
joined5

,carat_left,cut_left,color_left,clarity_left,depth_left,table_left,price_left,x_left,y_left,z_left,carat_right,cut_right,color_right,clarity_right,depth_right,table_right,price_right,x_right,y_right,z_right
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.30,Good,J,SI1,64.0,55.0,339,4.25,4.28,2.73
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.23,Ideal,J,VS1,62.8,56.0,340,3.93,3.90,2.46
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.22,Premium,F,SI1,60.4,61.0,342,3.88,3.84,2.33
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.31,Ideal,J,SI2,62.2,54.0,344,4.35,4.37,2.71
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.20,Premium,E,SI2,60.2,62.0,345,3.79,3.75,2.27
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.32,Premium,E,I1,60.9,58.0,345,4.38,4.42,2.68
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.30,Ideal,I,SI2,62.0,54.0,348,4.31,4.34,2.68
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.30,Good,J,SI1,63.4,54.0,351,4.23,4.29,2.70
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.30,Good,J,SI1,63.8,56.0,351,4.23,4.26,2.71
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.30,Very Good,J,SI1,62.7,59.0,351,4.21,4.27,2.66

In [99]:
#concat
upside = df.iloc[:5]
upside.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [100]:
downside = df.iloc[-5:]
downside.head()

       carat        cut color clarity  depth  table  price     x     y     z
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

In [102]:
concatenated = pd.concat([upside, downside], axis=0)
concatenated.head(10)

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

In [103]:
concatenated1 = pd.concat([upside, downside], axis=1)
concatenated1.head(10)

,carat,cut,color,clarity,depth,table,price,x,y,z,carat,cut,color,clarity,depth,table,price,x,y,z
0,0.23,Ideal,E,SI2,61.5,55.0,326.0,3.95,3.98,2.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.21,Premium,E,SI1,59.8,61.0,326.0,3.89,3.84,2.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.23,Good,E,VS1,56.9,65.0,327.0,4.05,4.07,2.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.29,Premium,I,VS2,62.4,58.0,334.0,4.20,4.23,2.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.31,Good,J,SI2,63.3,58.0,335.0,4.34,4.35,2.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53935,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.72,Ideal,D,SI1,60.8,57.0,2757.0,5.75,5.76,3.50
53936,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.72,Good,D,SI1,63.1,55.0,2757.0,5.69,5.75,3.61
53937,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.70,Very Good,D,SI1,62.8,60.0,2757.0,5.66,5.68,3.56
53938,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.86,Premium,H,SI2,61.0,58.0,2757.0,6.15,6.12,3.74
53939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.75,Ideal,D,SI2,62.2,55.0,2757.0,5.83,5.87,3.64

In [110]:
# 추가 실습
# 1. 평균 추가 병합
clarity_avg_carat = df.groupby('clarity')['carat'].mean().reset_index()
clarity_avg_carat.columns = ['clarity', 'carat_mean']
clarity_avg_carat.head()

C:\Users\YongTae\AppData\Local\Temp\ipykernel_972\591250474.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  clarity_avg_carat = df.groupby('clarity')['carat'].mean().reset_index()

  clarity  carat_mean
0      IF    0.505123
1    VVS1    0.503321
2    VVS2    0.596202
3     VS1    0.727158
4     VS2    0.763935

In [111]:
df_merge3 = pd.merge(df_merge2, clarity_avg_carat, on='clarity', how='left')
df_merge3

,carat,cut,color,clarity,depth,table,price,x,y,z,avg_price,avg_depth,carat_mean
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,3457.541970,61.686677,1.077648
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,4584.257704,61.175909,0.850482
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,3928.864452,62.203751,0.727158
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,4584.257704,61.328641,0.763935
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,3928.864452,62.395765,1.077648
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,3457.541970,61.678370,0.850482
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,3928.864452,62.365710,0.850482
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,3981.759891,61.750165,0.850482
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,4584.257704,61.322034,1.077648
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,3457.541970,61.678370,1.077648

In [115]:
# 2
df_over15000 = df[df['price'] >= 15000]
print(df_over15000.shape)
df_over15000.head()

(1656, 10)

       carat      cut color clarity  depth  table  price     x     y     z
25884   1.60    Ideal     G     VS2   61.9   56.0  15000  7.53  7.47  4.64
25885   1.54  Premium     E     VS2   62.3   58.0  15002  7.31  7.39  4.58
25886   1.19    Ideal     F    VVS1   61.5   55.0  15005  6.82  6.84  4.20
25887   2.10  Premium     I     SI1   61.5   57.0  15007  8.25  8.21  5.06
25888   1.69    Ideal     D     SI1   60.8   57.0  15011  7.69  7.71  4.68

In [116]:
print(df.shape)
df_concat = pd.concat([df, df_over15000], axis=0)
print(df_concat.shape)
df_concat.head()

(53940, 10)
(55596, 10)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [117]:
duplicated_mask = df_concat.duplicated()
duplicated_mask.sum()

np.int64(1802)